<div class="col" style="float: left;">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary btn-lg mt-3" id="dropdownBasic1" ngbDropdownToggle>TABLES LIST</button>
      <div id="tables-menu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button routerLink="/customers" class="col-12 btn btn-outline-primary list-item"> Customers</button>
          <button routerLink="/products" class="col-12 btn btn-outline-primary list-item">Products</button>
          <button routerLink="/buyers" class="col-12 btn btn-outline-primary list-item">Buyers</button>
          <button routerLink="/sellers" class="col-12 btn btn-outline-primary list-item">Sellers</button>
          <button routerLink="/services" class="col-12 btn btn-outline-primary list-item">Services</button>
      </div>
    </div>
</div>