<div id="sect1">
<div class="content" >
 <div class="text">Login Form</div>
  <form action="#">
    <div class="field">
      <span class="fa fa-user"></span>
      <input type="text" placeholder="Email Id" required>
   
    </div>
    <div class="field">
      <span class="fa fa-lock"></span>
      <input type="password" placeholder="Password">
    </div>
    <button>Log in</button>
    <div class="or">Or</div>
    <div class="icon-button">  
      <span class="facebook"><i class="fa fa-facebook"></i>  Facebook</span>
      <span><i class="fa fa-google"></i>  Google</span>
    </div>
  </form>
  </div>
</div>
<img class="emodal-logo" src="assets\images\emodal-logo.png" alt="">
<img class="background-image " src="https://www.emodal.com/images/hero-banner.png" alt="">



