
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Buyer Name</th>
            <th scope="col">Buyer Email</th>
            <th scope="col">Buyer Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Website</th>
            <th scope="col">Company Name</th>
            <th scope="col">Company Cathch Pharse</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let receiveData of receiveBuyersData, let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{receiveData.buyer_name}}</td>
            <td>{{receiveData.buyer_email}}</td>
            <td>{{receiveData.buyer_address.street}}, {{receiveData.buyer_address.city}}, {{receiveData.buyer_address.suite}}, {{receiveData.buyer_address.zipcode}}</td>
            <td>{{receiveData.phone}}</td>
            <td>{{receiveData.website}}</td>
            <td>{{receiveData.company.name}}</td>
            <td>{{receiveData.company.catchPhrase}}</td>
            <td><button class="btn btn-primary btn-sm" (click)="open(content, receiveData)">Edit</button></td>
            <td><button class="btn btn-danger btn-sm" (click)="deleteBuyer(receiveData)">Remove</button></td>
        </tr>
</table>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" *ngIf="!formIsNew">Update Data</h4>
        <h4 class="modal-title" id="modal-basic-title" *ngIf="formIsNew">Insert Data</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="myForm" *ngIf="!formIsNew" (ngSubmit)="BuyerFormData()">
            <div class="form-row row">
                <div class="form-group col-md-6">
                    <label>Buyer Name</label>
                    <input type="text" class="form-control" formControlName="BuyerName">
                </div>
                <div class="form-group col-md-6">
                    <label>Buyer Email</label>
                    <input type="email" class="form-control" formControlName="BuyerEmail">
                </div>
            </div><br>
            <div class="form-group">
                <label>Buyer Address</label>
                <input type="text" class="form-control" formControlName="BuyerAddress">
            </div>
            <div class="form-row row">
                <div class="form-group col-md-2">
                    <label>Suite</label>
                    <input type="text" class="form-control" formControlName="BuyerSuite">
                </div>
                <div class="form-group col-md-4">
                    <label>City</label>
                    <input type="text" class="form-control" formControlName="BuyerCity">
                </div>
                <div class="form-group col-md-2">
                    <label>Zip</label>
                    <input type="text" class="form-control" formControlName="BuyerZip">
                </div>
            </div><br>
            <div class="form-row row">
                <div class="form-group col-md-6">
                    <label>Phone Number</label>
                    <input type="tel" class="form-control" formControlName="PhoneNumber">
                </div>
                <div class="form-group col-md-6">
                    <label>Website</label>
                    <input type="text" class="form-control" formControlName="Website">
                </div>
            </div><br>
            <div class="form-row row">
                <div class="form-group col-md-6">
                    <label>Company Name</label>
                    <input type="text" class="form-control" formControlName="CompanyName">
                </div>
                <div class="form-group col-md-6">
                    <label>Catch Phrase</label>
                    <input type="text" class="form-control" formControlName="CatchPhrase">
                </div>
            </div><br>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Submit</button>

            </div>
        </form>

        <form [formGroup]="myForm" *ngIf="formIsNew" (ngSubmit)="postBuyerFormData()">
            <div class="form-row row">
                <div class="form-group col-md-6">
                    <label>Buyer Name</label>
                    <input type="text" class="form-control" formControlName="BuyerName">
                </div>
                <div class="form-group col-md-6">
                    <label>Buyer Email</label>
                    <input type="email" class="form-control" formControlName="BuyerEmail">
                </div>
            </div><br>
            <div class="form-group">
                <label>Buyer Address</label>
                <input type="text" class="form-control" formControlName="BuyerAddress">
            </div>
            <div class="form-row row">
                <div class="form-group col-md-2">
                    <label>Suite</label>
                    <input type="text" class="form-control" formControlName="BuyerSuite">
                </div>
                <div class="form-group col-md-4">
                    <label>City</label>
                    <input type="text" class="form-control" formControlName="BuyerCity">
                </div>
                <div class="form-group col-md-2">
                    <label>Zip</label>
                    <input type="text" class="form-control" formControlName="BuyerZip">
                </div>
            </div><br>
            <div class="form-row row">
                <div class="form-group col-md-6">
                    <label>Phone Number</label>
                    <input type="tel" class="form-control" formControlName="PhoneNumber">
                </div>
                <div class="form-group col-md-6">
                    <label>Website</label>
                    <input type="text" class="form-control" formControlName="Website">
                </div>
            </div><br>
            <div class="form-row row">
                <div class="form-group col-md-6">
                    <label>Company Name</label>
                    <input type="text" class="form-control" formControlName="CompanyName">
                </div>
                <div class="form-group col-md-6">
                    <label>Catch Phrase</label>
                    <input type="text" class="form-control" formControlName="CatchPhrase">
                </div>
            </div><br>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>

            </div>
        </form>
    </div>

</ng-template>

<div class="container-fluid">
    
    <button class="btn btn-success mt-3" style="float: right;" (click)="open(content, false)">Add Buyer Data</button>
</div>