<div class="container-fluid">
    <app-tables-list-menu></app-tables-list-menu>
    <button class="btn btn-success btn-lg mt-3" style="float: right;">Add Data</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Buyer Name</th>
            <th scope="col">Buyer Email</th>
            <th scope="col">Buyer Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Website</th>
            <th scope="col">Company Name</th>
            <th scope="col">Company Cathch Pharse</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let receiveData of receiveBuyersData">
            <th scope="row">{{receiveData.id}}</th>
            <td>{{receiveData.buyer_name}}</td>
            <td>{{receiveData.buyer_email}}</td>
            <td>{{receiveData.buyer_address.street}}, {{receiveData.buyer_address.city}}, {{receiveData.buyer_address.suite}}, {{receiveData.buyer_address.zipcode}}</td>
            <td>{{receiveData.phone}}</td>
            <td>{{receiveData.website}}</td>
            <td>{{receiveData.company.name}}</td>
            <td>{{receiveData.company.catchPhrase}}</td>
            <td><button class="btn btn-primary btn-sm">Edit</button></td>
            <td><button class="btn btn-danger btn-sm">Remove</button></td>
        </tr>
</table>
