<nav class="navbar navbar-expand-lg navbar-light  bg-light">
    <div class="container-fluid">
        <img class="advent-logo-nav" src="\assets\images\advent-logo.png" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <h4 class="nav-link " aria-current="page" href="#">Home</h4>
                </li>
                <li class="nav-item">
                    <h4 class="nav-link" href="#">About Us</h4>
                </li>

            </ul>
            
                <h5 class="nav-username">@username</h5>
            <button class="btn btn-outline-success" type="submit">Logout</button>
        
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-sm-2">
        <div routerLink="/customers" class="card">
            <div class="card-body">
                <img class="image" src="assets\images\customers-image.png" alt="Customers">
                <h2 class="card-title">Customers</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div routerLink="/products" class="card">
            <div class="card-body">
                <img class="image" src="assets\images\products-image.png" alt="Products">
                <h2 class="card-title">Products</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div routerLink="/buyers" class="card">
            <div class="card-body">
                <img class="image" src="assets\images\buyers-image.png" alt="Products">
                <h2 class="card-title">Buyers</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div routerLink="/sellers" class="card">
            <div class="card-body">
                <img class="image" src="assets\images\sellers-image.png" alt="Products">
                <h2 class="card-title">Sellers</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div routerLink="/services" class="card">
            <div class="card-body">
                <img class="image" src="assets\images\services-images.png" alt="Products">
                <h2 class="card-title">Services</h2>
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    <app-customers></app-customers>
</div>